<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/png">
    <title>おすすめリョ受けカプ診断チャート</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="animation.css">
</head>

<body>
    <div id="app">
        <!-- ローディング画面 -->
        <div v-if="isLoading && !quizStarted" class="intro-screen">
            <div class="content-box">
                <p>読み込み中...</p>
                <div class="donutSpinner"></div>
            </div>
        </div>
        <!-- 診断の説明画面 -->
        <div v-if="!isLoading && !quizStarted" class="intro-screen">
            <div class="content-box">
                <h2>おすすめリョ受けカプ診断（β版）</h2>
                <p>あなたにぴったりのリョ受けカプを診断します！</p>
                <div class="explanation">
                    <p>（ジョークアプリです。様々なリョーマ受けのカップリングが結果に出てきますので苦手なカップリングが有る方はご注意ください。）</p>
                    <p>不具合・要望等がある場合は<br> <a target="_tab"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSeXGCF228j5CK3N-SBw1yPcwTFI5If3i-3aSPjQOWL_7GvVqw/viewform">こちら</a>のフォームからご報告ください。
                        <br>
                        作った人：かっこみ(<a href="https://x.com/silk_mm">@silk_mm</a>)
                    </p>
                </div>
                <button @click="startQuiz" class="start-button">診断スタート</button>
            </div>
        </div>
        <!-- 質問画面 -->
        <div v-else-if="!quizFinished && quizStarted" class="question-screen">
            <div class="content-box">
                <p>{{ questions[currentQuestionIndex].question }}</p>
                <div class="options">
                    <button v-for="option in questions[currentQuestionIndex].options" :key="option.answer"
                        class="button" @click="handleAnswer(option)"> {{ option.answer }}
                    </button>
                </div>
                <div class="navigation">
                    <button class="button back-button" @click="goBack" :disabled="nowQuestionIndex === 0">
                        一つ前に戻る
                    </button>
                </div>
            </div>
            <!-- <p>候補カプ: {{ remainingTypes }}</p> -->
        </div>

        <!-- 結果画面 -->
        <div v-if="quizFinished" class="result-screen">
            <div class="content-box">
                <h2>あなたへのおすすめリョ受けカプは・・・</h2>
                <p :style="{ backgroundColor: captions[resultTypeCode].bgColor }" class="resultCaplingText">{{ result }}
                </p>
                <p><img class="responsive-img" :src="'img/' + resultTypeCode + '.png'" width="300px" :alt="result"></p>
                <!-- キャプション -->
                <p>おすすめポイント：{{captions[resultTypeCode]?.caption}}</p>

                <p>おすすめコンテンツ：{{captions[resultTypeCode]?.recommendStory}}
                </p>
                <!-- ツイッター共有ボタン -->
                <button class="tweet-button" @click="shareOnTwitter">
                    診断結果をポストする
                </button>

                <button class="button reset" @click="resetQuiz">もう一度診断する</button>
            </div>
            <!-- <p>候補カプ: {{ remainingTypes }}</p> -->
        </div>
    </div>
    <!-- フッター -->
    <footer class="footer">
        <p>© 2024 おすすめリョ受けカプ診断</p>
    </footer>
    <script src="app.js"></script>

</body>

</html>